[Unit]
Description=S1 API (Mojolicious)
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/s1/backend
ExecStart=/usr/bin/hypnotoad -f s1-api.pl
ExecReload=/usr/bin/hypnotoad s1-api.pl
Restart=on-failure
User=www-data

[Install]
WantedBy=multi-user.target
